@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    /* ## Colors */

    /* ### Primary */

    --Bright-Red: hsl(12, 88%, 59%);
    --Light-Bright-Red: hsl(12, 81%, 65%);
    --Light-Bright-Red-shadow: hsla(12, 81%, 65%, 0.3);
    --Dark-Blue: hsl(228, 39%, 23%);
    --Dark-Blue-shadow: hsl(228, 39%, 23%,0.15);

    /* ### Neutral */

    --Dark-Grayish-Blue: hsl(227, 12%, 61%);
    --Light-Grayish-Blue: hsl(240, 100%, 99%);
    --Very-Dark-Blue: hsl(233, 12%, 13%);
    --Very-Pale-Red: hsl(13, 100%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);

    /* ## Typography */

    /* ### Body Copy */

    --Font-size: 16px;

}

body{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    color: var(--Dark-Grayish-Blue);
}

h1, h2, h3, h4, h5{
    color: var(--Dark-Blue);
    font-weight: 700;
}

.btn{
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
}

.btn-primary{
    background: var(--Bright-Red);
    color: var(--Very-Light-Gray);
    transition: all .3s;
    box-shadow: 0px 2px 14px 4px var(--Light-Bright-Red-shadow);
}
.btn-primary:hover{
    background: var(--Light-Bright-Red);
    color: var(--Very-Light-Gray);
}

.btn-simplify{
    background: var(--Very-Light-Gray);
    color: var(--Bright-Red);
    box-shadow: 0px 2px 14px 4px var(--Dark-Blue-shadow);
}

header{
    position: relative;
    background: var(--Very-Light-Gray);
}

header, .section{
    display: flex;
    justify-content: center;
    align-items: center;
}



nav, .container{
    max-width: 1200px;
    width: 100%;
    padding: 1rem;
}

nav, .section__wcu .container, .section__articles .container,
footer .container{
    padding: 0 1rem;
}

nav{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    position: relative;
    font-size: 14px;
}

nav .logo{
    padding-right: 1rem;
}

/* @media screen and (max-width: 740px) {
    nav .logo{
        text-align: start;
    }
} */


.nav-list__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 5;
}
@media screen and (max-width: 740px) {
    .nav-list__container{
        display:none;
        position: absolute;
        margin-top: 4.5rem;
        top: 0;
        left: 0;
        width: 100%;
        padding: 2rem;
        background:  linear-gradient(to bottom,transparent,  var(--Dark-Blue-shadow), transparent);
        min-height: 110vh;
        
    }
}

nav .btn__wrapper{
    justify-self: flex-end;
    align-self: center;
}

@media screen and (max-width: 740px) {
    nav .btn__wrapper{
        display: none;
    }
}


.nav-list{
    display: flex;
    gap: 2rem;
}

@media screen and (max-width: 740px) {
    .nav-list{
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;
        align-items: center;
        width: 100%;
        background: var(--Very-Light-Gray);
        border-radius: 0.5rem;
    }
}


.nav-link{
    text-decoration: none;
    color: var(--Dark-Blue);
    display: block;
    padding: 2rem 0;
    border-bottom: 2px solid transparent;
    transition: all .3s;
    
}

@media screen and (max-width: 740px) {
    .nav-link{
        padding: 0; 
        font-weight: 700;
    }
}

.nav-link:hover{
    color: var(--Dark-Grayish-Blue);
}

/* Mobile Menu */
.mobile-menu{
    display: none;
    padding: 2rem 0;
}

@media screen and (max-width: 740px) {
    .mobile-menu{
        display: block;
        cursor: pointer;
        z-index: 5;
    }
}

#mobile-menu__checkbox{
    display: none;
}


@media only screen and (max-width: 740px){
    .nav__ham-menu {
        display: block;
        height: 24px;
        width: 24px;
        background: url(../images/icon-hamburger.svg) no-repeat;
        border: none;
        background-size: contain;
    }
}

@media only screen and (max-width: 740px){
    #mobile-menu__checkbox:checked ~ label .nav__ham-menu {
        background: url(../images/icon-close.svg) no-repeat;
    }
    
    #mobile-menu__checkbox:checked~ .nav-list__container{
        display:block;
    }
}


.section{
    padding: 4rem 0;
}

.section h2{
    font-size: 2.25rem;
    margin-bottom: 2.25rem;
}


/* ============ Hero Section =========== */
.section__hero{
    background: var(--Very-Light-Gray);
}

.section__hero .container{
    display: flex;
    align-items: center;
    /* overflow: hidden; */
}

@media screen and (max-width: 740px) {
    .section__hero{
        max-height: unset;
        text-align: center;
    }
    

    .section__hero .container{
        flex-direction: column-reverse;
        align-items: center;

    }
    
}


.section__hero-img{
    position: relative;
    flex: 1;
    width: 50%;
}
.section__hero-img picture{
    position: absolute;
    height: 100%;
    margin-left: 4rem;
    top:  -350px;
    right: -250px;
    z-index: 2;
}
.section__hero-img picture source{
    display: block;
    height: fit-content;
    width: fit-content;
}
.section__hero-img > img{
    position: relative;
    height: 100%;
    margin-left: 4rem;
    z-index: 3;
}

@media screen and (max-width: 740px) {
    .section__hero-img{
        width: 100%;
    }
    .section__hero-img picture{
        margin-left: unset;
        top:  -200px;
        right: -100px;
        z-index: 2;
        display: flex;
        justify-content: flex-end;
    }
    .section__hero-img > img{
        width: 100%;
        height: unset;
        margin-left: unset;
        max-width: 400px;
    }
}

.section__hero-text{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding-right: 2rem;
    z-index: 5;
}

@media screen and (max-width: 740px) {
    .section__hero-text{
        align-items: center;
        margin-bottom: 4rem;
        padding: 1rem;
    }
    
}
.section__hero-text h1{
    font-size: 3.5rem;
    line-height: 4.05rem;
}

@media screen and (max-width: 740px) {
    .section__hero-text h1{
        margin-top: 4rem;
        font-size: 2.25rem;
    }
}
.section__hero-text p{
    line-height: 1.85rem;
}
.section__hero-text .btn{
    width: fit-content;
}


/* ============== What's Different Section ===============  */
.section__difference .container{
    display: flex;
    position: relative;
    gap: 1rem;
    overflow: hidden;
}

@media screen and (max-width: 740px) {
    .section__difference .container{
        flex-direction: column;
    }
}

.section__difference-text{
    position: relative;
}

.section__difference-text h2{
    margin-bottom: 1.5rem;
}
@media screen and (max-width: 740px) {
    .section__difference-text{
        text-align: center;
        margin-bottom: 4rem;
    }
}

.section__difference-list{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.section__difference-item{
    display: flex;
    gap: 2rem;
}
.section__difference-item .content h3{
    margin-bottom: 1.15rem;
}
.section__difference-item .digit{
    padding: 0.45rem 0.95rem;
    background: var(--Bright-Red);
    color: var(--Very-Light-Gray);
    border-radius: 1rem;
    font-size: 14px;
}

.section__difference-bg{
    position: absolute;
    height: 100%;
    bottom:  -150px;
    left: -250px;
    z-index: 0;
}


@media screen and (max-width: 740px) {
    .section__difference-bg {
        left: unset;
        top:  -450px;
        right: -500px;
        z-index: 0;
    }

}

/* ============== Testimonial Section ===============  */
.section__testimonial .btn__wrapper{
    margin-top: 3rem;
    text-align: center;
}

.section__testimonial-title{
    text-align: center;
    margin-bottom: 4rem;
}

.section__testimonial-item{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.05rem;
    background: var(--Light-Grayish-Blue);
    padding: 1.5rem;
    border-radius: 0.5rem;
}
.section__testimonial-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px, 1fr));
    gap: 2.5rem;
    
}

@media screen and (max-width: 946px) {
    .section__testimonial-list{
        grid-template-columns: 1fr 1fr;
        padding: 0 2.5rem;
        
    }
}

@media screen and (max-width: 740px) {
    .section__testimonial-list{
        grid-template-columns: 1fr;
        gap: unset;
        padding: 0 2.5rem;
        
    }
}

.section__testimonial-item .profile-img{
    margin-top: -56px;
}
.section__testimonial-item .profile-img img{
    height: 64px;
    width: 64px;
}
.section__testimonial-item p{
    color: var(--Dark-Grayish-Blue);
    line-height: 1.5rem;
}

.section__testimonial-list--select{
    display: none;
    justify-content: center;
    margin-top: 1rem;
}

@media screen and (max-width: 740px) {
    .section__testimonial-list--select{
        display: flex;
    }
}


.slider-indicators{
    display: flex;
    gap: 0.5rem;
}
.slider-indicator {
    
    width: 0.65rem;
    height: 0.65rem;

    display: inline-block;
    border-radius: 0.35rem;
    cursor: pointer;
    aspect-ratio: 1;
    background-color: transparent;
    outline: 1px solid;
    outline-color: var(--Bright-Red);
}
.slider-indicator.active {
    background: var(--Bright-Red);
}


.active{
    grid-row: 1/ span 1;
    grid-column: 1/span 1;
}
.next:first-child{
    grid-row: 1/ span 1;
    grid-column: 2/span 1;
}
.next:last-child{
    grid-row: 1/ span 1;
    grid-column: 3/span 1;
}
.last{
    display: none;
}

@media screen and (max-width: 946px) {
    .next,.section__testimonial-item{
        display: none;
    }
    .active{
        display: flex;
        grid-row: 1/ span 1;
        grid-column: 1/span 1;
    }
    
    .last{
        display: flex;
        grid-row: 1/ span 1;
        grid-column: 2/span 1;
    }
}




@media screen and (max-width: 740px) {
    .last,.next,.section__testimonial-item{
        display: none;
    }
    .active{
        display: flex;
    }
}

.testimonial-nav{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

@media screen and (max-width: 740px) {
    .testimonial-nav{
        display: none;
    }
    
}



/* ============== Simplify Section ===============  */
.section__simplify{
    background-color: var(--Bright-Red);
    background-image: url("../images/bg-simplify-section-desktop.svg");
}
.section__simplify .container{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 740px) {
    .section__simplify .container{
        flex-direction: column;
        text-align: center;
    }
}
.section__simplify-text h2{
    color: var(--Very-Light-Gray);
}



/* ============== Footer ===============  */
/* ============ Footer =============== */
footer{
    background: var(--Dark-Blue);
}

footer .section{
    padding: 3rem 0;
}
footer .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 1rem;
}

@media screen and (max-width: 740px) {
    footer .container{
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        gap: 1rem;
    }
    
}

.footer_form{
    justify-self: flex-end;
}
.form{
    display: flex;
    gap: 0.4rem;
}

.form input{
    cursor: unset;
}

.footer__logo{
    grid-column: 1/span 1;
    grid-row: 1/ span  1;
}

@media screen and (max-width: 740px) {
    .footer__logo{
        grid-row: 4/ span  1;
        grid-column: span 2;
        flex-direction: column-reverse;
    }
    .footer_form{
        grid-row: 1;
        grid-column: 1/span 2;
        justify-self: center;
    }

}

.footer_btn .btn__wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media screen and (max-width: 740px) {
    .footer_btn .btn__wrapper{
        justify-content: center;
    }
    
}

.social-links{
    grid-column: 1/span 1;
    grid-row: 2/ span  1;
    display: flex;
    gap: 0.75rem;
    align-self: flex-end;
}

@media screen and (max-width: 740px) {
    .social-links{
        grid-column: span 2;
        grid-row: 3/ span  1;
        display: flex;
        gap: 0.75rem;
        align-self: unset;
    }

    .social-links a img{
        width: 40px;
        height: 40px;
        object-fit: contain;
    }

    
}

.footer-list{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-self: center;
    grid-row: span 2;
}

@media screen and (max-width: 740px) {
    .footer-list{
        display: block;
        grid-row: 2/span 1;
    }
    .footer-list-1{
        justify-self: flex-end;
        margin-right: 3rem;
    }
    .footer-list-2{
        justify-self: flex-start;
        margin-left: 3rem;
    }
    
    .footer-link{
        display: block;
        margin-bottom: 1rem;
    }
}

.footer-list a{
    color: var(--Very-Light-Gray);
    text-decoration: none;
    transition: all .3s;
}
.footer-list a:hover{
    color: var(--Bright-Red);
}



.copyright{
    color: var(--Very-Light-Gray);
    grid-column: span 1/-1;
    align-self: flex-end;
    justify-self: flex-end;
}

@media screen and (max-width: 740px) {
    .copyright{
        grid-row: 5/ span  1;
        grid-column: span 2;
        align-self: unset;
        justify-self: unset;
    }
}
